apipkg==1.5
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.2.0
backcall==0.2.0
beautifulsoup4==4.9.3
cache==1.0.3
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
docopt==0.6.2
execnet==1.7.1
guizero==1.1.0
idna==2.10
iniconfig==1.1.1
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.6.1
jedi==0.17.2
joblib==1.0.1
Js2Py==0.70
jupyter-client==6.1.7
jupyter-core==4.6.3
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
matplotlib==3.3.4
mccabe==0.6.1
numpy @ file:///C:/Users/sukru/pipwin/numpy-1.19.3%2Bmkl-cp39-cp39-win_amd64.whl
packaging==20.4
pandas==1.1.4
parso==0.7.1
pep8==1.7.1
pickleshare==0.7.5
Pillow==8.1.0
pipwin==0.5.0
pluggy==0.13.1
prompt-toolkit==3.0.8
py==1.9.0
Pygments==2.7.2
pyjsparser==2.7.1
pylint==2.6.0
pyparsing==2.4.7
PyPrind==2.11.2
pySmartDL==1.3.4
pytest==6.1.2
pytest-cache==1.0
pytest-pep8==1.0.6
python-dateutil==2.8.1
pytz==2020.4
pywin32==228
pyzmq==19.0.2
requests==2.24.0
rope==0.18.0
scikit-learn==0.24.1
scipy==1.6.1
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
threadpoolctl==2.1.0
toml==0.10.1
tornado==6.0.4
traitlets==5.0.4
tzlocal==2.1
urllib3==1.25.11
wcwidth==0.2.5
wrapt==1.12.1
xgboost==1.3.3
